.btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.btn {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 31px;
  border-radius: 4px;
  background: $color-primary;
  border: 1px solid #ffffff;
  text-decoration: none;
  &:hover {
    background-color: #fff;
    color: $color-primary;
    border: 1px solid $color-primary;
  }
  &__white {
    background-color: #fff;
    border-color: #6f6d7b;
    color: #000;
    &:hover {
      background-color: $color-primary;
      color: #fff;
      border-color: #fff;
    }
  }
}
