// header
.header {
  background: rgba(16, 16, 29, 0.9);
  .brand {
      z-index: 1;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 0 33px;
  }
  .nav {
    &__list {
      display: flex;
      align-items: center;
      gap: 60px;
    }
    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      &:hover {
        color: $color-primary;
      }
      &-active {
        color: $color-primary;
      }
    }
  }
}

.nav {
  @include m {
      &.is-active {
          z-index: 0;
      }
    position: fixed;
    z-index: -1;
    &:before,
    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(16, 16, 29, 0.9);
      z-index: -1;
      transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
      transform: translateX(-100%) translateY(0);
    }
    &:after {
      background: rgba(16, 16, 29, 0.5);
      transition-delay: 0s;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &.is-active {
      $menu--items--count: 4;
      $transition--length: 0.8;
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
      &:after {
        transition-delay: 0.1s;
      }
      &:before {
        transition-delay: 0s;
      }
      .nav__list {
        visibility: visible;
      }
      .nav__item {
        opacity: 1;
        transform: translateY(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: calc($transition--length * $i / 8) + 0.5 + s;
          }
        }
      }
    }
  }

  &__list {
    @include m {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: calc(2vw + 10px);
      font-weight: 200;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      visibility: hidden;
    }
  }
  &__item {
    position: relative;
    &:not(:last-of-type) {
      margin-right: 35px;
      @include n {
        margin-right: 22px;
      }
    }
    @include m {
      position: relative;
      display: inline-block;
      transition-delay: 0.8s;
      opacity: 0;
      transform: translate(100%, 0);
      transition: opacity 0.2s ease, transform 0.3s ease;
      margin-right: 0;
      margin-bottom: 25px;
      &:before {
        content: "";
        position: absolute;
        background: var(--color-text);
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all 0.3s ease;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    &:hover {
      color: $color-primary;
    }
    &.is-active {
      color: $color-primary;
    }
  }
}
