<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="copy">
                © 2018 «LoremIpsum.net» Все права защищены.
            </div>
            <ul class="pay__list list-reset">
                <li class="pay__item">
                    <svg class="icon">
                        <use xlink:href="assets/img/sprite.svg#qiwi"></use>
                      </svg>
                    Qiwi wallet
                </li>
                <li class="pay__item">
                    <svg class="icon">
                        <use xlink:href="assets/img/sprite.svg#yandex"></use>
                      </svg>
                      Yandex Money
                </li>
                <li class="pay__item">
                    <svg class="icon">
                        <use xlink:href="assets/img/sprite.svg#web-money"></use>
                      </svg>
                      Web Money
                </li>
            </ul>
            <ul class="contact__list list-reset">
                <li class="contact__item">
                    <a href="mailto:info@ipsum228.com" class="contact__link">
                        <svg class="icon">
                            <use xlink:href="assets/img/sprite.svg#mail-1"></use>
                          </svg>
                          info@ipsum228.com
                    </a>
                </li>
                <li class="contact__item">
                    <a href="#" class="contact__link">
                        <svg class="icon">
                            <use xlink:href="assets/img/sprite.svg#vkontakte"></use>
                          </svg>
                          Мы вконтакте
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>