<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="#" class="brand">
                <img src="img/logo.svg" alt="Logo">
            </a>
            <div class="burger">
                <span class="burger__line"></span>
              </div>
            <nav class="nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item">
                        <a href="/" class="nav__link nav__link-active">
                            Бизнес
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">
                            О нас
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link ">
                            Цены
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link ">
                            Оформить заказ
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- / Header -->
