<section class="form section">
  <div class="container">
    <div class="form__wrapper">
      <div class="form__wrapper-head">
        <h2 class="title">Оформление <span> Заказа</span></h2>
        <p class="desc">
          Перед заполнением формы ознакомьтесь с нашей схемой работы!
        </p>
      </div>
      <div class="form__wrapper-scheme">
        <div class="scheme__list">
          <div class="scheme__item">
            <div class="scheme__item-icon">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#search"></use>
              </svg>
            </div>
            <div class="scheme__item-title">Lorem ipsum dolor sit amet</div>
          </div>
          <span class="dot"></span>
          <div class="scheme__item">
            <div class="scheme__item-icon">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#percent"></use>
              </svg>
            </div>
            <div class="scheme__item-title">Сonsecteturadipiscing elit</div>
          </div>
          <span class="dot"></span>
          <div class="scheme__item">
            <div class="scheme__item-icon">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#document"></use>
              </svg>
            </div>
            <div class="scheme__item-title">Sed do eiusmod tempor</div>
          </div>
          <span class="dot"></span>
          <div class="scheme__item">
            <div class="scheme__item-icon">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#mail"></use>
              </svg>
            </div>
            <div class="scheme__item-title">Esse cillum dolore eu fugiat</div>
          </div>
          <span class="dot"></span>
          <div class="scheme__item">
            <div class="scheme__item-icon">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#money"></use>
              </svg>
            </div>
            <div class="scheme__item-title">
              Excepteur sint occaecat cupidatat non proident
            </div>
          </div>
        </div>
      </div>
      <div class="form__wrapper-form">
        <div class="form__wrap">
          <div class="form__inner">
            <div class="field-row">
              <div class="field-col field-select">
                <div class="my-select">
                  <select name="type" id="type">
                    <option value="Выберите тип системы">
                      Выберите тип системы
                    </option>
                    <option value=" Nemo enim ipsam">Nemo enim ipsam</option>
                    <option value=" Et harum quidem">Et harum quidem</option>
                    <option value="Temporibus autem">Temporibus autem</option>
                    <option value="Itaque earum rerum">
                      Itaque earum rerum
                    </option>
                    <option value=" Et harum quidem">Et harum quidem</option>
                    <option value="Temporibus autem">Temporibus autem</option>
                    <option value="Itaque earum rerum">
                      Itaque earum rerum
                    </option>
                    <option value=" Et harum quidem">Et harum quidem</option>
                    <option value="Temporibus autem">Temporibus autem</option>
                    <option value="Itaque earum rerum">
                      Itaque earum rerum
                    </option>
                  </select>
                </div>
              </div>
              <div class="field-col">
                <label class="">
                  <input
                    type="email"
                    name="email"
                    id=""
                    placeholder="Ваш e-mail"
                  />
                </label>
              </div>
              <div class="field-col">
                <label class="">
                  <input type="text" name="name" placeholder="Ваше имя" />
                </label>
              </div>
            </div>
            <div class="field-row">
              <div class="field-col field-range bg-trs">
                <label class="range-wrap">
                  <p>
                    Sed ut perspiciatis, unde omnis iste natus<span
                      id="range-demo"
                    ></span>
                  </p>
                  <input
                    type="range"
                    min="1"
                    max="100"
                    value="75"
                    class="slider"
                    id="myRange"
                  />
                </label>
              </div>
              <div class="field-col field-file">
                <div class="file-wrap">
                  <input class="input-file" id="my-file" type="file" />
                  <label tabindex="0" for="my-file" class="input-file-trigger">
                    <svg class="icon">
                      <use xlink:href="assets/img/sprite.svg#doc-1"></use>
                    </svg>
                    <span class="input-file-trigger-txt"
                      >Прикрепить файл</span
                    ></label
                  >
                </div>
              </div>
            </div>
          </div>
          <button class="btn">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</section>
