<!-- Hero -->
<section class="hero section">
  <div class="container">
    <div class="hero__wrapper">
      <h1 class="title">
        <span>Lorem ipsum</span> dolor sit ametconsectetur
        <span>adipiscing</span>
      </h1>
      <div class="info">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
        <ul class="info__list">
          <li class="info__item">Totam rem aperiam eaque ipsa</li>
          <li class="info__item">
            Sit voluptatem accusantium doloremque laudantium
          </li>
          <li class="info__item">
            Sed ut perspiciatis, unde omnis iste natus error
          </li>
        </ul>
      </div>
      <div class="btns">
          <a href="#" class="btn">Заказать</a>
          <a href="#" class="btn btn__white">Подробнее</a>
      </div>
    </div>
  </div>
</section>
<!-- / Hero -->
